name: Build HeadsetControl on Windows
on: [push, pull_request]

jobs:
  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v2
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: git base-devel mingw-w64-x86_64-gcc mingw-w64-x86_64-cmake mingw-w64-x86_64-hidapi make
      - name: Build
        run: |
          mkdir build
          cd build
          cmake -G"MSYS Makefiles" ..
          make
      - name: Test
        run: |
          make test